.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

/*Estilo de la foto de perfil*/

@media(min-width:576px) {
    #fotodeperfil{
        
        border-radius:100%;
        box-shadow: 3px 3px 3px gray;
        
    }

    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    @media(max-width:575px) {
        #fotodeperfil{
            position: absolute;
            width: 35%;
            border-radius:100%;
            box-shadow: 3px 3px 3px gray;
            left: 32%;
            top: 990px;
        }
}

@media(max-width:399px) {
    #fotodeperfil{
        position: absolute;
        width: 35%;
        border-radius:100%;
        box-shadow: 3px 3px 3px gray;
        left: 32%;
        top: 710px;
    }

    @media(max-width:350px) {
        #fotodeperfil{
            position: absolute;
            width: 35%;
            border-radius:100%;
            box-shadow: 3px 3px 3px gray;
            left: 32%;
            top: 720px;
        }
}

@media(max-width:249px) {
    #fotodeperfil{
        position: absolute;
        width: 35%;
        border-radius:100%;
        box-shadow: 3px 3px 3px gray;
        left: 32%;
        top: 795px;
    }
}

@media(max-width:149px) {
    #fotodeperfil{
        position: absolute;
        width: 35%;
        border-radius:100%;
        box-shadow: 3px 3px 3px gray;
        left: 32%;
        top: 860px;
    }
}

@media(max-width:99px) {
    #fotodeperfil{
        position: absolute;
        width: 35%;
        border-radius:100%;
        box-shadow: 3px 3px 3px gray;
        left: 32%;
        top: 960px;
    }
}
}

/*etiqueta nombre*/
   #nombre{
      font-weight:bold;
      margin-top:30%;
      
    }
  
  
